#Data folder
Data/

# Virtual environments
.venv/
venv/
env/
ENV/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Large pickle files
# *.pkl (commented out to allow tracking of df.pkl, TFIDF_matrix.pkl, and indices.pkl)

# Python cache files
__pycache__/
*.pyc
